.main-voting-wrapper {
  display: flex;
  gap: 16px;
  height: 100%;
  padding-top: 8px;
}

.voting-section {
  overflow-y: auto;
}

.controls {
  display: flex;
  flex-direction: column;
}

@media screen and (width < 800px) {
  .main-voting-wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }

  .controls {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 8px;
    background-color: var(--mat-sys-surface);
    box-shadow: var(--mat-sys-level3);
  }
}
