.main-voting-wrapper {
  display: flex;
  gap: 16px;
  height: 100%;
  padding-top: 8px;
}

.voting-section {
  overflow-y: auto;
}

.controls {
  display: flex;
  flex-direction: column;
}

@media screen and (width < 600px) {
  .main-voting-wrapper {
    flex-direction: column;
  }

  .controls {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 8px;
    background-color: var(--mat-sys-surface);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
  }
}
