:host, .session-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

:host {
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-bar-end {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

@media screen and (width < 800px) {
  :host {
    flex-direction: row;
  }
}

