:host, .session-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

:host {
  justify-content: space-between;
  gap: 12px;
}

@media screen and (width < 600px) {
  :host {
    flex-direction: row;
  }
}

