<h3 style="text-wrap: balance">League of Legends Champion Voting</h3>

@if (champions$ | async; as champions) {
  <div class="mt-4">
    <div>
      <p>You can vote once per champion. Click vote again to remove your vote.</p>
    </div>
    <div>
      <div class="row">
        @for (champion of champions; track champion.id) {
          <app-vote-details
            [champion]="champion"
          />
        }
      </div>

      <!-- Rest of your voting statistics section remains the same -->
      <app-voting-statistics />
    </div>
  </div>
} @else {
  <div class="mt-4">
    <div class="text-center">
      <h5>No Champions Available</h5>
      <p>Log in and add some champions to start voting!</p>
    </div>
  </div>
}
