:host {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw
}

.sidenav {
  flex: 0 0 auto;
  overflow-y: auto;
  background-color: var(--mat-sys-surface);
  border-right: 1px solid var(--mat-sys-outline);
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
  rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (width < 600px) {
  :host {
    flex-direction: column;
  }

  .sidenav {
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 0;
    border-bottom: 1px solid var(--mat-sys-outline);
  }
}

