@if (user$ | async) {
  <form>
    <div class="d-flex flex-column">
      <mat-form-field class="w-100">
        <mat-label>
          Add new champion
        </mat-label>
        <input
          matInput
          id="championName"
          [formControl]="championControl"
          required
          [matAutocomplete]="championAuto"
          placeholder="Champion name"
          (keydown.enter)="addChampion()">
        <mat-autocomplete
          #championAuto="matAutocomplete"
          [displayWith]="displayChampionName"
          autoActiveFirstOption
        >
          @for (champion of filteredChampions | async; track champion.name) {
            <mat-option [value]="champion">
              {{ champion.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
}
