@if (user$ | async) {
  <form (ngSubmit)="addChampion()" #championForm="ngForm">
    <mat-form-field class="w-100">
      <mat-label>
        Add new champion
      </mat-label>
      <input
        matInput
        id="championName"
        [formControl]="championControl"
        required
        [matAutocomplete]="championAuto"
        placeholder="Champion name"
        (input)="onInputChange($event)">
      <mat-autocomplete
        #championAuto="matAutocomplete"
        [displayWith]="displayChampionName"
        autoActiveFirstOption
        requireSelection
      >
        @for (champion of filteredChampions | async; track champion.name) {
          <mat-option [value]="champion">
            {{ champion.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button
      matButton="filled"
      type="submit"
      [disabled]="isLoading || !championControl.value || availableChampions.length === 0">
      @if (isLoading) {
        <span class="spinner-border spinner-border-sm me-2" role="status">
              <span class="visually-hidden">Loading...</span>
            </span>
      }
      {{
        isLoading
        ? 'Adding...'
        : 'Add Champion'
      }}
    </button>
  </form>
}
